:root{
    --primary-bkg-color: #FFF;
    --secondary-bkg-color: #FFF;
    --bkg-hover-color: #d4d4d4;
    --primary-color: #1d1d1d;
    --secondary-color: #686868;
    --hover-color: #f14a4a;
    --border-color: #e3e3e3;
    --box-shadow-color: #e2e2e2;
}   

:root .dark-mode{
    --primary-bkg-color: #121216;
    --secondary-bkg-color: #191920;
    --bkg-hover-color: rgb(212, 212, 212, 0.1);
    --primary-color: #FFF;
    --border-color: #3f3f3f;
    --box-shadow-color: rgb(27, 27, 27);
}

#favorites-container{
    position: relative;
    left: 220px;
    top: 60px;
    padding-bottom: 20px;
}

/* favorites header */

#favorites-header{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 38px;
    padding-right: 200px;
}

/* favorites title + header play button */

#favorites-header-title-button{
    display: flex;
    align-items: flex-end;
    width: 50%;
}

#favorites-title{
    font-size: 32px;
    font-weight: 600;
    color: var(--primary-color);
    margin-right: 15px;
    align-self: center;
}

#favorites-play{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e23131;
    border: none;
    border-radius: 40px;
    padding: 0 40px;
    color: #FFF;
    width: 40%;
    height: 90%;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s;
}

#favorites-play svg{
    fill: #fff;
    position: relative;
    left: -50px;
}

#favorites-play-button-text{
    font-size: 14px;
}

#favorites-play:hover{
    cursor: pointer;
    background-color: #b92222;
}

#favorites-nav{
    display: flex;
    align-items: center;
    width: 40%;
}

/*menu dropdown button*/

.dropdown-button{
    background-color: var(--primary-bkg-color);
    border-radius: 40px;
    border: 1px solid var(--border-color);
    padding: 10px 6px;
    margin: 3px;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.2s;
    color: var(--primary-color);
}

.dropdown-button-content{
    font-weight: bold;
    padding-left: 5px;
}


.button-container{
    border-radius: 40px;
}

.button-container:active{
    border: 2px solid var(--border-color);
}

.dropdown-icon{
    padding-left: 6px;
}

.dropdown-button:hover{
    cursor: pointer;
    background-color: var(--bkg-hover-color);
}

/* menu dropdown */

#order-dropdown{
    position: relative;
}

#order-dropdown-menu{
    box-shadow: 0px 2px 8px var(--box-shadow-color);
    font-size: 14px;
    width: 200px;
    color: var(--secondary-color);
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: var(--secondary-bkg-color);
    z-index: 1;
    display: none;
  
    animation-name: growDown;
    animation-duration: 200ms;  
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-delay: 0;
    animation-fill-mode: forwards;
    transform-origin: top center

}

@keyframes growDown{
    0% {
    transform: scaleY(0)
    }

    100% {
        transform: scaleY(1)
    }
}

.order-dropdown-item{
    padding: 10px 15px;

}

.order-dropdown-item:hover{
    background-color: var(--bkg-hover-color);
    cursor: pointer;
    color: var(--primary-color);
}

/* search input */

#favorites-search{
    border-radius: 3px;
    border: 1px solid var(--border-color);
    background-color: var(--primary-bkg-color);
    color: var(--primary-color);
    padding: 10px 8px;
    margin-left: 20px;
    font-size: 12px;
    width: 55%;
    position: relative;
    transition: 0.3s;
}

#favorites-search:focus{
    border: 1px solid #df3f3f;
}

/* search clear button */

#favorites-search-clear{
    background-color: transparent;
    border: 0;
    color: var(--primary-color);
    font-weight: bold;
    position: absolute;
    left: 78em;
    display: none;
}

#favorites-search-clear svg{
    fill: var(--primary-color);
}

#favorites-search-clear:hover{
    cursor: pointer;
}


#favorites-search-clear svg{
    fill: var(--primary-color);
}

#favorites-search-clear:hover{
    cursor: pointer;
}

/* table / main */

#favorites-table{
    margin-left: 45px;
    margin-right: 205px;
    margin-top: 40px;
    width: 75%;
    table-layout: fixed;
}


.favorites-table-head-cell{
    padding: 20px 0px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--primary-color);
}

.favorites-table-head-cell::before{
    content: "";
    margin-left: 15px;
}

.favorites-table-body-cell{
    padding: 20px 0px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    
}

.favorites-table-body-cell::before{
    content: "";
    margin-left: 15px;
}

.favorites-table-body-cell:not(:first-child){
    width: 30%;
}

.favorites-table-body-row:hover{
    padding: 15px 0px;
    background-color: var(--bkg-hover-color);
}

.favorites-table-body-row:hover .favorites-table-cell-number{
    display: none;
}

.favorites-table-body-row:hover .favorites-table-cell-play{
    display: flex;
    cursor: pointer;
}

.favorites-table-cell-play{
    background-color: #000;
    border: none;
    border-radius: 50%;
    padding: 6px 7px;
    position: relative;
    top: -10px;
    left: 2px;
    display: none;
}

.favorites-table-cell-play svg{
    fill: #fff; 
    margin-right: -1px;
    margin-top: -1px;
}