:root{
    --primary-bkg-color: #FFF;
    --secondary-bkg-color: #FFF;
    --bkg-hover-color: #d4d4d4;
    --primary-color: #1d1d1d;
    --secondary-color: #686868;
    --tertiary-color: #f14a4a;
    --border-color: #e3e3e3;
    --box-shadow-color: #aaaaaa;
    --player-track: #686868;
}   

:root .dark-mode{
    --primary-bkg-color: #121216;
    --secondary-bkg-color: #191920;
    --bkg-hover-color: rgb(212, 212, 212, 0.2);
    --primary-color: #FFF;
    --border-color: #3f3f3f;
    --box-shadow-color: rgb(27, 27, 27);
}

body{
    font-family: 'Circular-Loom';
    position: relative;
    overflow-x: hidden;
    font-kerning: inherit;
    background-color: var(--primary-bkg-color);
}

input:focus{
    outline: none; 
}

/*scrollbar*/

::-webkit-scrollbar{
    background: var(--secondary-bkg-color);
    border-left: 1px solid var(--border-color);
    width: 13px;

}
::-webkit-scrollbar-thumb{
    background: #d6d6d67a;
    border-radius: 10px;
    border: 2px solid var(--border-color);
}


::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
}

/*input search clear decoration*/

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/*topbar*/

#page-topbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 220px;
    width: 85%;
    padding: 10px;
    font-size: 12px;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    background-color: var(--primary-bkg-color);
    z-index: 2;
}

/* topbar search */

#topbar-search-icon, #search-input, #search-clear{
    border: none;
    background-color: var(--primary-bkg-color);
}

#search-form{
    width: 75%;
    display:flex;
    align-items: center;
    margin-left: 5px;
}

#topbar-search-icon svg{
    fill: var(--secondary-color);
}

#search-input{
    font-size: 17px;
    width: 70%;
    color: var(--primary-color)
}

#search-clear-button{
    font-family: 'Circular-Loom';
    font-kerning: none;
    float: right;
    background-color: rgb(235, 235, 235, 0.4);
    border-radius: 50%;
    padding: 7px 0;
    color: #FFF;
    display: none;
    transition: background-color 0.2s;
}

#search-clear-button svg{
    fill: #FFF;
    stroke: #FFF;
    margin-left: 8px;
}

#search-clear-button:hover{
    background-color: var(--bkg-hover-color);
    cursor: pointer;
}

/* notifications & account*/

#topbar-nav{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    position: relative;
}

/*icons */


#notifications-icon, #topbar-account-pic{
    border: 0;
    border-radius: 50%;
    background-color: var(--primary-bkg-color);
}

#notifications-icon{
    position: relative;
    padding: 8px 10px;   
    transition: background-color 0.2s;
}

#notifications-icon svg{
    margin-right: 0;
    color: var(--secondary-color);
}


#notifications-icon-number{
    position: absolute;
    top: 2px;
    right: 3px;
    background-color: var(--tertiary-color);
    color: #FFF;
    font-size: 10px;
    border-radius: 50px;
    padding: 2px 5px;   
}

#notifications-icon:hover{
    background-color: rgb(212, 212, 212, 0.2);
    cursor: pointer;
}

#account-icon{
    border:none;
    background-color: var(--primary-bkg-color);
}

#account-icon:hover{
    cursor: pointer;
}

#topbar-account-pic{
    height: 30px;
    width: 30px;
    margin-top: 3px;
}


/*dropdown menus*/
#notifications-content, #account-navigation{
    position: absolute;
}

#notifications-content, #account-navigation{
    width: 375px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px var(--box-shadow-color);
    background-color: var(--secondary-bkg-color);
    top: 48px;
    right: -5px;
    display: none;
    color: var(--primary-color);
}

#notifications-container{
    overflow-y: scroll;
    max-height: 400px;
}


/* notifications content */

#notifications-title{
    padding: 16px 20px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    border-bottom: solid 1px var(--border-color);
}

.notifications-item{
    border-bottom: solid 1px var(--border-color);
    padding: 5px 5px 0 5px;
    transition-property: background-color;
}

.notifications-item:hover{
    background-color: var(--bkg-hover-color);
}

.notifications-album{
    display: flex;
    align-items: center;
    line-height: 1.5;
    padding: 15px 5px;
}

.notifications-album-cover{
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 10px;
}

.notifications-album-cover img{
    border-radius: 3px;
    box-shadow: 0px 2px 8px var(--box-shadow-color);
}

.notifications-album-cover:hover{
    opacity: 70%;
}

.notifications-album-name{
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: none;
}

.notifications-album-name:hover{
    cursor: pointer;
    text-decoration: underline;
}

.notifications-artist-name{
    font-size: 14px;
}

.notifications-date{
    margin: 10px 10px;
    padding: 0 5px;
    font-size:  12px;
    text-transform: uppercase;
    color: var(--secondary-color);
}

/*account info */

/* header*/

#account-header{
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: solid 1px var(--border-color);
}

#account-header:hover{
    cursor: pointer;
    background-color: var(--bkg-hover-color);
}

#header-user{
    display: flex;
}

#account-header-img{
    border-radius:  50%;
}

#account-user{
    margin-left: 10px;
    align-self: center;
    font-size: 15px;
}

/*account menu*/

#account-menu{
    font-size: 15px;
    padding: 8px 0;
    color: var(--secondary-color);
}

.account-item, .account-input{
    align-items: center;
}

.account-item{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.account-item svg{
    fill: var(--primary-color); 
}

.account-item:hover{
    cursor: pointer;
    background-color: var(--bkg-hover-color);
}

.account-item:hover svg{
    position: relative;
    right: -5px;
}

.account-modes{
    border-bottom: solid 1px var(--border-color);
    display: flex;
    justify-content: space-between;
}

#kids-mode{
    border-top: solid 1px var(--border-color);
}

/*label night/kids mode*/

.input-label{
    width: 32px;
    height: 16px;
    border-radius: 40px;
    background-color: #c9c8c8;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.account-modes{
    padding: 20px 15px;
}

.mode-input{
    display: none;
}

.input-label::after{
    content: '';
    height: 14px;
    width: 14px;
    margin: 1px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    background-color: #FFF;
    transition-duration: 0.3s;
}

.input-label:hover{
    cursor: pointer;
}

/*active modes - class toggle*/

.label-input-checked::after{
    left: 16px;
    transition-duration: 0.3s;
}

.label-input-checked{
    background-color:  var(--tertiary-color);
}

    
/* SIDEBAR*/

#page-sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 220px;
    height: 90%;
    border-right: 1px solid var(--border-color);
    background-color: var(--secondary-bkg-color);
}

#sidebar-header{
    padding: 15px 25px;
}

/*SIDEBAR OPTIONS*/

#sidebar-content{
    margin-top: 25px;
}

.sidebar-item{
    display: flex;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    transition: 0.2s;
}

.sidebar-item a{
    color: var(--primary-color);
    text-decoration: none;
    vertical-align: middle;
}

.svg-icon{
    margin-right: 8px;
    vertical-align: middle;
    fill: currentColor;
}

.sidebar-item:hover{
    cursor: pointer;
}

.sidebar-item:hover a{
    color: var(--tertiary-color);
}

.sidebar-item:hover svg{
    color: var(--tertiary-color);
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
}

.current-page-sidebar{
    border-left: solid 3px var(--tertiary-color);
}

/*SIDEBAR FAVORITES ITEMS*/

.favorites-item{
    font-size: 14px;
    padding: 10px 0;
}

.favorites-item a{
    color: var(--secondary-color);
    padding: 0 46px;
}

.favorites-item:hover{
    cursor: pointer;
}

.favorites-item:hover a{
    color: var(--tertiary-color);
    text-decoration: none;
}

/*player*/

#page-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 15px;
    background-color: var(--secondary-bkg-color);
    border-top: 1px solid var(--border-color);
    z-index: 2;
}

#player-controls-options, #track-heading, #track-actions-options, #player-options-list, #player-options-options, #player-options-queue{
    display: flex;
}

#page-player button{
    background-color: var(--secondary-bkg-color);
    border: none;
    border-radius: 50%;
}

#page-player svg{
    fill: var(--primary-color)
}

#page-player button:hover{
    background-color: var(--bkg-hover-color);
    cursor: pointer;
}


.player-control-btn{
    padding: 13px;
}

#previous-button svg, #next-button svg{
    padding-top: 3px;
    padding-left: 1px;
}

#previous-button svg{
    padding-right: 2px;
}

#player-track{
    width: 50%;
}

#track-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 80%;
    margin-left: 27px;
    margin-bottom: 10px;
}

#track-heading a{
    color: var(--primary-color)
}

#track-artist-name::before{
    content: "-";
    margin-right: 5px;
    margin-left: 3px;
}

#track-actions-options{
    display: flex;
    justify-content: space-between;
}

.track-title:hover a{
    text-decoration: underline;
    cursor: pointer;
}

.track-actions-btn{
    padding: 8px;
}

#track-bar{
    font-size: 10px;
    display: flex;
    align-items: center;
}

input[type=range]{
    -webkit-appearance: none;
    height: 2px;
    width: 80%; 
    background-color: var(--player-track);
    margin: 0 8px;
}


input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #858484;
}

input[type=range]:hover{
    height: 4px;
}

input[type="range"]::-webkit-slider-thumb:hover{
    cursor: pointer;
}

#track-counter-current, #track-counter-max{
    color: var(--primary-color);
}

#player-options-list, #player-options-queue{
    align-items: center;
}

#player-options-list{
    margin-right: 15px;
}

#player-options-options{
    margin-right: 10px;
}

.player-options-option-btn{
    padding: 8px;
}

#player-options-queue{
    display: flex;
    justify-content: space-between;
    border-radius: 5px !important;
    color: var(--primary-color);
    margin-right: 15px; 
    padding: 10px 15px;
}

#player-options-queue-img img{
    border-radius: 3px;
}

#player-options-queue-text{
    margin-left: 8px;
}
/* USER HEADER */

#user-header{
    position: relative;
    top: 60px;
    left: 220px;
    width: 85%;
    border-bottom: 1px solid var(--border-color);
    color: var(--primary-color);
}

#header-user-info{
    display: flex;
    padding: 24px 55px;
    align-items: center;
}

#header-user-pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0px 2px 8px var(--box-shadow-color);
}

#header-user-content{
    padding-left: 30px;
}

#header-title{
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 12px;
}

#follows{
    display: flex;
    padding-bottom: 10px;
    font-size: 12px;
    color: var(--secondary-color)
}

#following::before{
    content: '-';
    padding: 0 5px;
}

#header-random{
    border-radius: 40px;
}

#header-random:active{
    border: solid 3px  var(--tertiary-color);
}

#header-random-button{
    border: none;
    border-radius: 40px;
    background-color:  var(--tertiary-color);
    color: #FFF;
    padding: 12px 28px;
    margin: 1px 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s, padding 0.3s;
}

#header-random-button svg{
    color: #FFF;
    margin-bottom: 2px;
    margin-right: 5px;
}

#header-random-button:hover{
    background-color: #ce323c; 
    cursor: pointer;
}

#header-random-button:active{
    padding: 10px 22px;
}

/*HEADER NAVIGATION*/

#header-nav{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 16px;
}

#header-nav-menu{
    display: flex;
}

.header-nav-item, #header-nav-more{
    padding-bottom: 13px;
    padding-left: 40px;
}

.header-nav-item a{
    color: var(--secondary-color);
    padding-bottom: 17px;
}

.header-nav-item:hover{
    cursor: pointer;
}

.header-nav-item:hover a{
    text-decoration: none;
    border-bottom: solid 2px var(--secondary-color);
    color: var(--primary-color);
}

.current-page-header-nav{
    border-bottom: solid 2px #f14a4a;
}


/*header menu dropdown*/

#header-nav-more{
    position: relative;
}

#menu-more-button{
    color: var(--secondary-color);

    background-color: var(--primary-bkg-color);
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    position: relative;
    top: -4px;
}

#menu-more-button svg{
    margin-left: 5px;
    margin-bottom: 3px;
    fill: var(--secondary-color);

}

#menu-more-button:hover{
    cursor: pointer;
}

#menu-more-container{
    display: none;
}

#menu-more-content{
    background-color: var(--secondary-bkg-color);
    color: #727272;
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 185px;
    font-size: 13px;
    box-shadow: 0px 2px 5px var(--box-shadow-color);
    position: absolute;
    top: 45px;
    right: 5px;
    z-index: 1;

    animation-name: growDown;
    animation-duration: 200ms;  
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-delay: 0;
    animation-fill-mode: forwards;
    transform-origin: top center
}

@keyframes growDown{
    0% {
    transform: scaleY(0)
    }

    100% {
        transform: scaleY(1)
    }
}

.menu-more-option{
    padding: 8px 10px;
    padding-left: 13px;
}

.menu-more-option:hover{
    background-color: var(--bkg-hover-color);
}


